h2(color='red') Login Failed, Please try again.
br
form(name='loginform', action='/loginValidation', method='POST')
  h3 Username: 
    input(type='text', name='uname')
  br
  h3 Password: 
    input(type='password', name='pass')
  br
  h3
  input(type='submit', value='Login', name='login')
